.map-container {
  height: 600px;
  width: 80%;
  margin: 50px auto;
  border-radius: 12px;
  overflow: hidden;
}

/* VERY IMPORTANT */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  flex-direction: column;
}
.header h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fccd40;
  margin: 20px
}
.header p {
  max-width: 600px;
  margin: 10px;
  font-size: 16px;
  color: #ccc;
}